# ======= Build Folders =======
**/bin/
**/obj/



**/*.csproj.user

# ======= Visual Studio Specific =======
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates



# ======= Rider / VSCode =======
.idea/
.vscode/
*.code-workspace

# ======= Git =======
*.orig

# ======= Logs / Dumps =======
*.log
*.vspscc
*.vssscc

# ======= HTTP Test Files =======
*.http

/MeterSystem.API/WeatherForecast.cs
/MeterSystem.API/Controllers/WeatherForecastController.cs
